.clickable-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

.dashboard-card {
  width: 15rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: darkgrey;
  border-width: 0.02rem;
}
